<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <!-- materialize CDN  -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css", type="text/css" />
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <div class="welcome" style="width: 100%; padding: 10px 20px;">
  Welcome back, Sensei Doug.
  <a class="waves-effect waves-teal btn-flat" style="float: right;" id="logout">Logout</a>
  </div>
  <!-- materlialize container -->
  <div class="container">
    <!-- header -->
    <header class="center-align">
      <h1>KICK LIST</h1>
      <h4>save it for later</h4>
    </header>
