<%- include('partials/_header') %>

  <body>
    <!-- materlialize container -->
    <div class="container">
      <!-- header -->
      <header class="center-align">
        <h1>KICK LIST</h1>
        <h4>save it for later</h4>
      </header>

      <!-- login / register form -->
      <form method="POST" action="/login" class='col m12 center-align'>
        <input type="text" name="email" placeholder="email">
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="login">
        <input type="submit" value="register" formaction="/register">
      </form>
    </div>
  </body>
</html>
