<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home Page</title>

<%- include('partials/_header_loggedout') %>

    <!-- login / register form -->
    <form method="POST" class='col m12 center-align'>

      <div class="row">
        <div class="input-field col s12">
          <input class="validate" type="text" name="email">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input class="validate" type="password" name="password">
          <label for="password">Password</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit" formaction="/users/login">login</button>
      <button class="btn waves-effect waves-light" type="submit" formaction="/users/register">register</button>


    </form>
  </div>
</body>
</html>
