<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- materialize CDN  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css", type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <!-- materlialize container -->
    <div class="container">
      <!-- header -->
      <header class="center-align">
        <h1>KICK LIST</h1>
        <h4>save it for later</h4>
      </header>

      <!-- login / register form -->
      <form method="POST" action="/login" class='col m12 center-align'>
        <input type="text" name="email" placeholder="email">
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="login">
        <input type="submit" value="register" formaction="/register">
      </form>
    </div>
  </body>
</html>
