<%- include('partials/_header') %>

      <!-- <form> -->
        <div id="search_bar" class="search-wrapper card focused">
          <input class="input-field" type="text" name="search" placeholder="Search..">
        </div>
        <div class="search_results">
          <!-- display top 10 searches using ajax -->
        </div>
      <!-- </form> -->


      <br>
      <div>
        <a class='dropdown-button btn' href='#' data-activates='dropdown'>Filter by</a>
        <ul id='dropdown' class='dropdown-content'>
          <li><a href="#">movies/tv</a></li>
          <li><a href="#">books</a></li>
          <li><a href="#">restaurants</a></li>
          <li><a href="#">products</a></li>
        </ul>
      </div>

    </div>
  </body>
</html>
