<!DOCTYPE html>
<html lang="en">
<head>
  <title>list</title>

<%- include('partials/_header') %>

  <div class="search-and-categories">
    <div id="search_bar" class="search-wrapper card focused">
      <input class="input-field" type="text" name="search" placeholder="Search..">
    </div>
    <div class="search_results">
      <!-- display top 10 searches using ajax -->
    </div>

    <span class="all_dropdowns">

      <a class='dropdown-button btn' data-activates='filterRank'>Priority</a>

      <ul id='filterRank' class='dropdown-content'>
        <li id="0">All</li>
        <li id="1">High</li>
        <li id="2">Medium</li>
        <li id="3">Low</li>
      </ul>

      <a class='dropdown-button btn' data-activates='filterCategory'>Category</a>

      <ul id='filterCategory' class='dropdown-content'>
        <li id="0">All</li>
        <li id="1">Movie/TVSeries</li>
        <li id="2">Place/Restaurant</li>
        <li id="3">Product/Book</li>
      </ul>

      <a class='dropdown-button btn' data-activates='filterCompleted'>Status</a>

      <ul id='filterCompleted' class='dropdown-content'>
        <li id="0">All</li>
        <li id="1">To-Do</li>
        <li id="2">Done</li>
      </ul>

      <a class='dropdown-button btn' data-activates='sortDate'>Date Created</a>

      <ul id='sortDate' class='dropdown-content'>
        <li id="0">Ascending</li>
        <li id="1">Descending</li>
      </ul>

      <span id='resetButton' class="waves-effect waves-light btn">Reset</span>

    </span>

  </div>

  <section id="todo-list" class="list_class">

  </section>

  </body>
</html>
