<%- include('partials/_header') %>

  <body>
    <!-- materlialize container -->
    <div class="container">
      <!-- header -->
      <header class="center-align">
        <h1>KICK LIST</h1>
        <h4>save it for later</h4>
      </header>

      <form>
        <div id="search_bar">
          <input class="input-field" type="text" name="search" placeholder="Search..">
          <label for="search" >save it for later?</label>
        </div>
      </form>


      <br>
      <div>
        <a class='dropdown-button btn' href='#' data-activates='dropdown'>Filter by</a>
        <ul id='dropdown' class='dropdown-content'>
          <li><a href="#">movies/tv</a></li>
          <li><a href="#">books</a></li>
          <li><a href="#">restaurants</a></li>
          <li><a href="#">products</a></li>
        </ul>
      </div>

    </div>
  </body>
</html>
