<%- include('partials/_header') %>

      <!-- <form> -->
        <div id="search_bar" class="search-wrapper card focused">
          <input class="input-field" type="text" name="search" placeholder="Search..">
        </div>
        <div class="search_results">
          <!-- display top 10 searches using ajax -->
        </div>
      <!-- </form> -->

      <br>

    <div>

      <span id="all_dropdowns">

        <a id = 'dropCategory' class='dropdown-button btn' href='#' data-activates='filterCategory'>Category</a>
        <ul id='filterCategory' class='dropdown-content'>
          <li><a href="#">Movies/Tv</a></li>
          <li><a href="#">Books</a></li>
          <li><a href="#">Restaurants</a></li>
          <li><a href="#">Products</a></li>
        </ul>



        <a id = 'dropCompleted' class='dropdown-button btn' href='#' data-activates='filterCompleted'>Completed</a>
        <ul id='filterCompleted' class='dropdown-content'>
          <li><a href="#">Completed</a></li>
          <li><a href="#">Not Completed</a></li>
        </ul>



        <a id = 'dropRank' class='dropdown-button btn' href='#' data-activates='sortRank'>Rank</a>
        <ul id='sortRank' class='dropdown-content'>
          <li><a href="#">Ascending</a></li>
          <li><a href="#">Descending</a></li>
        </ul>


      </span>

    </div>

    <section id="todo-list" class="list_class">




    </section>

  </body>
</html>

