body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }

  .container {
    width: 741px;
    margin: auto;
    margin-top: 155px;
  }
}

#search_bar {
  .input-field {
    margin: 0;
  }
}

.search_result {
  background-color: white;
}
#todo-list {
  margin-top: 20px;
}
article {
  background-color: white;
  padding: 20px;

  img .item_thumbnail  {
    max-width: 170px;
  }

  .delete {
    background-color: #304554;
  }

  .item_description {
    min-height: 200px;
  }

}
