body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }

  .container {
    width: 741px;
    margin: auto;
    margin-top: 155px;
  }
}

#search_bar {
  .input-field {
    margin: 0;
  }
}

.search_result {
  background-color: white;
}
