@import url('https://fonts.googleapis.com/css?family=Frijole');

$font-stack: 'Frijole', Helvetica, sans-serif;
$headlines: #e53935;
$text_or_background: #e0e0e0 ;
$background: #f5f3e6;
$accents: #fde403;

body {
  background-color: #eeeee;


  h1, h4 {
    margin: 0;
    font-family: $font-stack;
  }

  h1 {
    //color: #244751;
    color: $headlines;
  }

  h4 {
    margin-bottom: 28px;
  }

  .container {
    margin: auto;
    margin-top: 74px;
    width: 100%;
  }
}

.search-and-categories {
    width: 596px;
    margin: auto;
    background-color: #e6e6e6;
    padding: 6px;

    #all_dropdowns a {
      color: white;
      background-color: #26a69a;
    }
}

#search_bar {
  .input-field {
    margin: 0;
  }
}

.search_result {
  background-color: white;
}
#todo-list {
  margin-top: 20px;
}
article {
  background-color: $text_or_background;
  padding: 20px;

  .item-info-container {
    display: none;
  }

  .item_thumbnail  {
    max-width: 209px;
  }

  .delete {
    background-color: #304554;
  }

  .item_description {
    min-height: 200px;
  }

}


div .result {
  margin-bottom: 5px;
  cursor: pointer;
}


div .result {
  border-bottom: 2px solid #26a69a;
  border-top: 2px solid #26a69a;
  /* background-color: #26a69a; */
  background-color: white;
}



@media only screen and (min-width: 993px) {
  .container {
      width: 100%;
  }
}

@media only screen and (min-width: 601px) {
  .container {
      width: 100%;
  }
}
